html, 
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2DFCE;
    width: 100vw;
    height: 100vh;
}

h1,
h3,
input,
.payout-text {
    text-align: center;
}

button {
    margin: 20px 10px;
}

.input {
    display: flex;
    margin: 0 auto;
}

.bet-odds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
